{% extends 'plantilla.html' %}

{% block body %}
    <h1>Album a editar: </h1>
    <div class="row">
    <div class="col-md-5">
        <h1 class="display-1 text-center"> Album a editar:</h1>
    </div>


    <form action="/actualizar/{{album.0}}" method="POST">
        <div class="mb-3">
        <input type="text" name="txtTitulo" value={{album.1}}>
        </div>
        <div class="mb-3">
        <input type="text" name="txtArtista" value={{album.2}}>
        </div>
        <div class="mb-3">
        <input type="number" name="txtAnio" value={{album.3}}>
        </div>

        <div class="d-grip gap-2">
        <button type="submit">Actualizar</button>
        </div>
    </form>
   
</div>
</div>
</div>
{% endblock %}